@import "tailwindcss";

/* Global Scrollbar Hide */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

/* 기본 폰트 */
body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 추가 폰트 확장 */
.noto-sans-kr {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.jua-regular {
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-style: normal;
}